
Transformese/.classpath
Transformese/.project
Transformese/.settings/org.eclipse.core.resources.prefs
Transformese/.settings/org.eclipse.jdt.core.prefs
Transformese/bin/introducao/CobrancaAula4.class
Transformese/src/SistemaEscola/SistemaEscola.java
Transformese/src/CURSO/AULA5.java
Transformese/src/CURSO/AULA4.java
Transformese/src/CURSO/AULA3.java
Transformese/src/CURSO/AULA2.java
