
Transformese/.classpath
Transformese/.project
Transformese/.settings/org.eclipse.core.resources.prefs
Transformese/.settings/org.eclipse.jdt.core.prefs
Transformese/bin/introducao/CobrancaAula4.class
